
.prompt, .completion {
    padding: 1em;
    background-color: #f0f0f0;
    border: 1px solid #808080;
}

#add-completion {
    display: none;
    margin: 1em;
}

#add-completion textarea{
    width: 50%;
    height: 10em;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
