{% extends 'base.html' %}

{% block title %}Add{% endblock %}

{% block meta %}
<link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
{% endblock %}

{% block content %}
<div>
    <h1>Add Data</h1>
    <div>
        <form action="/add" method="POST">
            <h2>
                Add Prompt
            </h2>
            <textarea name="prompt" class="prompt-textarea"></textarea> <br/><br/>
            <span>
                Tags:
            </span>
            <input type="text" placeholder="comma,separated,tags" name="tags" /> <br/><br/>
            <span>
                Prompt Style:
            </span>
            <select name="style">
                <option value="instruct" selected>Instruct</option>
                <option value="chat">Chat</option>
            </select> <br/><br/>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <form action="/add" method="POST" enctype="multipart/form-data">
            <h2>
                Bulk Upload
            </h2>
            <input type="file" name="file"> <br/><br/>
            <span>
                Completion Key:
            </span>
            <input type="text" value="completion" name="key_completion"> <br/><br/>
            <span>
                Prompt Key:
            </span>
            <input type="text" value="instruction" name="key_prompt"> <br/><br/>
            <span>
                Prompt Style:
            </span>
            <select name="style">
                <option value="instruct" selected>Instruct</option>
                <option value="chat">Chat</option>
            </select> <br/><br/>
            <span>
                Tags:
            </span>
            <input type="text" placeholder="comma,sep,tags" name="tags"> <br/><br/>
            <span>
                Tags Key:
            </span>
            <input type="text" placeholder="key for tags (optional)" name="key_tags"> <br/><br/>
            <input type="submit" value="Upload">
        </form>
    </div>
</div>
{% endblock %}
