<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Praetor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<nav>
  <a href="/"><b><span class="nav-bar-main-header">Praetor</span></b></a>
  <a href="/manifest"><span class="nav-bar-text">Prompts</span></a>
  <a href="/add"><span class="nav-bar-text">Add</span></a>
  <a href="/tasks"><span class="nav-bar-text">Tasks</span></a>
</nav>
<section class="content">
  {% block content %}{% endblock %}
</section>