{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block meta %}
<link rel="stylesheet" href="{{ url_for('static', filename='manifest.css') }}">
{% endblock %}

{% block content %}
<div>
    <h1>
        Prompts
    </h1>
    <div>
        <div id="search-form">
            <form action="/manifest" method="GET">
                <label for="content-search">Search prompt content:</label>
                <input type="text" id="content-search" name="content" placeholder="Search prompt content..." value="{{ request.args.get('content') if request.args.get('content') }}">
                <button type="submit">Submit</button>
                <br/><br/>
                <input type="button" id="open-search-header" onclick="openSearch()" value="More Options" />
                <div id="extra-search-form" style="display:none">
                    <br/>
                    <label for="style-select">Select style:</label>
                    <select id="style-select" name="style">
                        <option value="">--Choose a style--</option>
                        <option value="instruct">Instruct</option>
                        <option value="chat">Chat</option>
                    </select>
                    <br/><br/>
                    <label for="example-search">Search example:</label>
                    <input type="text" id="example-search" name="example" value="{{ request.args.get('example') if request.args.get('example') }}" placeholder="Search example...">
                    <br/><br/>
                    <label for="example-search">Tag:</label>
                    <input type="text" id="tags-search" name="tags" value="{{ request.args.get('tags') if request.args.get('tags') }}" placeholder="Search tag...">
                </div>
                <br/>
            </form>
        </div>
        <div>
            <span>Total Results:</span>
            {{ "{:,d}".format(total_results) }}
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Link</th>
                <th>Prompt</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for row in prompts %}
            <tr>
                <td><a href="/view?prompt_id={{ row.id }}"> View </a></td>
                <td>{{ row.prompt }}</td>
                <td>{{ row.tags }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        document.getElementById('style-select').value = "{{ request.args.get('style') if request.args.get('style') }}";
        
        if(document.getElementById('example-search').value != ""){
            document.getElementById('extra-search-form').style.display = "block";
        }
        if(document.getElementById('style-select').value != ""){
            document.getElementById('extra-search-form').style.display = "block";
        }
        if(document.getElementById('tags-search').value != ""){
            document.getElementById('extra-search-form').style.display = "block";
        }

        function openSearch(){
            if(document.getElementById("extra-search-form").style.display == "none"){
                document.getElementById("extra-search-form").style.display = "block";
            }
            else {
                document.getElementById("extra-search-form").style.display = "none";
            }
        }
    </script>
</div>
{% endblock %}
