{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block meta %}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
  <div>
      <h1>
        Projects
      </h1>
      <table>
        <thead>
            <tr>
                <th>Link</th>
                <th>Time</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for row in projects %}
            <tr>
                <td><a href="/project?id={{ row.id }}">View</a></td>
                <td>{{ row.created_at }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.desc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
