{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block meta %}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
  <div>
        <h1>
            {{ project.name }}
        </h1>
        <div>
            <h2>
                Description
            </h2>
            {{ project.desc }}
        </div>
        <h2>Styles</h2>
        <table>
            <thead>
                <tr>
                    <th>Link</th>
                    <th>Name</th>
                    <th>Add Data in Style</th>
                    <th>Time Created</th>
                </tr>
            </thead>
            <tbody>
                {% for row in styles %}
                <tr>
                    <td><a href="/style?id={{ row.id }}">View</a></td>
                    <td>{{ row.id_text }}</td>
                    <td><a href="/add?project_id={{ project.id }}&style_id={{ row.id }}"><button>Add Data</button></a></td>
                    <td>{{ row.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>
{% endblock %}
